node_modules

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

contracts/INS20Innovator.sol
contracts/ERC721
contracts/ERC20
contracts/InscriptionMarket_v2_tem.sol
test/Market.test_tem.js